body {
    background: #eef;
}

div.scoreBox {
    display: inline-block;
    background-color: #fff;
    width: 200px;
    min-height: 20px;
    border: 1px solid #777;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    vertical-align: middle;
}

#gameCanvas {
    background-color: #fff;
}
#oHS {
    /*position: absolute;*/
    /*right: 30%;*/
    /*overflow: hidden;*/
    float: right;
}
#gameContainer {
    /*display: inline;*/
    overflow-right: hidden;
    width: 450px;
}

.enemy:nth-child(6n) {
    fill: red;
}
.enemy:nth-child(6n+1) {
    fill: orange;
}
.enemy:nth-child(6n+2) {
    fill: yellow;
}
.enemy:nth-child(6n+3) {
    fill: green;
}
.enemy:nth-child(6n+4) {
    fill: blue;
}
.enemy:nth-child(6n+5) {
    fill: purple;
}
#scoreGraphContainer {
    width: 98%;
    border: 3px solid #444;
    padding: 1%;
    background-color: #333;
}
.scoreBar {
    border: 1px solid #444;
    background-color: #ccc;
    /*border-radius: 10px;*/
    /*position-left: absolute;*/
    display: block;
    /*left: -100px;*/
    /*float: left;*/
    vertical-align: middle;
    line-height: 25px;
    padding-left: 3px;
    overflow: hidden;
}

